* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F4F4F4;
    font-family: 'calibri';
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main p {
    position: absolute;
    top: 65%;
    left: 5%;
    right: 55px;
    text-align: center;
    color: #F4F4F4;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

button:focus {
    outline: none;
}

button {
    background-color: #F4F4F4;
    color: #000000;
    padding: 12px 23px;
    border: 1px solid #F4F4F4;
    cursor: pointer;
    letter-spacing: 0.1em;
    transition: all .4s;
    font-size: 14px;
    font-family: 'GT America', Helvetica, Arial;
    font-weight: 600;
    position: absolute;
    bottom: 10%;
    left: 20%;
    right: 25%;
    text-align: center;
}

button:hover {
    background-color: #D3413F;
    color: #F4F4F4;
}

.footer-main {
    background-color: #F3F3F3;
    position: absolute;
    top: 95%;
    left: 0%;
    right: 55px;
    text-align: center;
    width: 100%;
    color: #343433;
    justify-content: center;
    font-size: larger;
    font-weight: bold;

}

.footer-main h5 {
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1em;
    font-weight: bold;
    font-size: large;
}

.footer-main img {
    width: 150px;
    height: 90px;

}

.especial {
    position: absolute;
    top: 117%;
    left: 0%;
    right: 55px;
}

/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 1115px) {
    main p {
        font-size: medium;
    }

    .title h1{
        font-size: 160%;
    }

    button {
        right: 20%;
    }

}

/* * ====== TABLETS ========= */

@media screen and (max-width:850px) {
    main p {
    display:none;
    }
    .title h1{
        font-size: 105%;
    }
}

/* * ====== SMARTPHONE ========= */

@media screen and (max-width:480px) {
    .title h1{
        font-size: 105%;
    }
}
